#site-header{
    background-color: #d85e5e;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.gestion.dropdown{
 position: relative;
}

.dropdown-menu{
    position: absolute;
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}
