#site-header{
    background-color: #d85e5e;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    font-family: "Poppins", sans-serif;;
    background-color: #00558c;
}



ul{
    display: flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    gap: .25rem;
}

a{
    text-decoration: none;
    color:white;
}

li{
    text-decoration: none;
}

.gestion.dropdown{
 position: relative;
}

.dropdown-menu{
    position: absolute;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    opacity:0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    background-color: black;
}


.gestion.dropdown > .btn-dropdown:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} 

.idioma.dropdown > .btn-dropdown:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} 